-@manuals.each do |manual|
  -element=cycle('', 'gray-section')
  %section{class: element}
    .container
      .row
        .col-lg-12.text-center
          .navy-line
          %h1{id: "header-#{manual.id}", data: {header: manual.header}}
            =manual.header
            %br
            %span.navy=manual.subheader
      .row
        -if element.blank?
          .col-md-6.wow.fadeInLeft
            .manual-content{id: "content-#{manual.id}", name: manual.id}
              =manual.content.html_safe
              .fadeout{id: "fadeout-#{manual.id}"}
            .btn.btn-primary.btn-xs.read-more{id: "read-more-#{manual.id}", name: manual.id} Read more
          .col-md-6.wow.zoomIn
            %iframe{allowfullscreen: '', frameborder: 0, width: 560, height: 315, src: "https://www.youtube.com/embed/#{manual.link_on_video}"}
            %a.navy-link{id: manual.id} Make a question »
        -else
          .col-md-6.wow.zoomIn
            %iframe{allowfullscreen: '', frameborder: 0, width: 560, height: 315, src: "https://www.youtube.com/embed/#{manual.link_on_video}"}
            %a.navy-link{id: manual.id} Make a question »
          .col-md-6.wow.fadeInRight
            .manual-content{id: "content-#{manual.id}", name: manual.id}
              =manual.content.html_safe
              .fadeout-gray{id: "fadeout-#{manual.id}"}
            .btn.btn-primary.btn-xs.read-more{id: "read-more-#{manual.id}", name: manual.id} Read more
#question-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Закрыть", :type => "button"}
          %span ×
        %h4.modal-title Fill all fields
      .modal-body
        .row
          #question-sent-error.alert.alert-danger
          =simple_form_for @question, url: questions_path, class: 'form-question', remote: true do |f|
            #error_explanation{style: 'display:none;'}
              %ul
                -if @question.errors.any?
                  -@question.errors.full_messages.each do |msg|
                    %li=msg
            =f.input :subject, as: :hidden
            =f.input :name, label: 'Your name', required: true
            =f.input :email, label: 'Your e-mail', as: :email, required: true
            =f.input :message, label: 'Your question', as: :text, input_html: {rows: 5}, required: true
            .col-md-9
              = recaptcha_tags
            .col-md-3
              =f.submit 'Commit', class: 'btn btn-sm btn-primary pull-right'
#question-sent-success.alert.alert-success
  Success
